* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainContainer {
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 20px;
}

@keyframes win-coins {
    0%   { left: 55px; top:305px;}
    100% { left: 38px; top:21px;}
}

.coin-animation-container {
    top: 305px;
    left: 55px;
    position: absolute;
    animation-name: win-coins;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}
  
#one {
    z-index: 0;
}

#deckContainer, #startContainer, #instructions, #mainResultContainer {
    position: absolute;
    background-color: rgb(0, 100, 0);
    width: 90vw;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 8px solid rgba(0,0,0);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.9);
    border-radius: 50px;
    min-height: 200px;
    overflow: hidden;
    top: 50px;
}

#resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 250, 205);
  box-shadow: 0px 0px 5px 0px inset rgba(0,0,0,0.9);
  padding: 10px;
  border-radius: 10px;
}

#ok {
    order: 1;
}


.card {  
    position: relative;
    width: 60px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    margin: 10px;
    background-color: white;
}

.card-name-suit {
    display: inline-block;
    position: absolute;
    font-size: 15px;
}
  
.bottom {
    bottom: 5px;
    left: 5px;
}
  
.bot {
    transform: rotate(180deg);
    bottom: 5px;
    right: 5px;
}
  
.card-suit {
    font-size: 40px;
    position: absolute;
    bottom: 21%;
    left: 25%;
}

.hearts , .diamonds {
    color: red;
}
  
.black {
    color: black;
}


#coinContainer {
    position: absolute;
    text-align: left;
    margin: 15px;
    background-color: lightgrey;
    padding: 8px;
    width: fit-content;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    top: 10%;
    left: 5%;
}

#optionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 300px;
}

#higher-lower {
    position: absolute;
    top: 90px;
}

button {
    margin: 2px;
}

#betDisplay {
    width: 40px;
    text-align: center;
}

#instructions {
    font-size: 0.75em;
    padding: 15px;
    color: lemonchiffon;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    overflow:hidden;
}

.hidden div, .hidden {
    visibility: hidden;
}


  
@media only screen and (min-width: 426px) and (max-width: 768px) {
    #deckContainer, #startContainer, #instructions, #mainResultContainer {
        width: 60vw;
    }

    #instructions {
        font-size: 2vw;
    }

    #deckContainer {
        justify-content: center;
    }

    #coinContainer {
        left: 20%;
    }

    #startContainer {
        flex-direction: column;
    }

    .card {
        width: 80px;
        height: 120px;
        padding: 2px;
    }

    .card-suit {
        bottom: 20%;
        left: 25%;
        font-size: 50px;
    }

    .card-name-suit {
        font-size: 20px;
    }

    #higher-lower {
        top: 70px;
    }

    @keyframes win-coins {
        0%   { left: 250px; top:305px;}
        100% { left: 176px; top:21px;}
    }
    
    .coin-animation-container {
        left: 300px;
    }
}
  
@media only screen and (min-width: 769px) {
    #deckContainer, #startContainer, #instructions, #mainResultContainer {
        width: 40vw;
    }

    #instructions {
        font-size: 1.5vw;
    }

    #deckContainer {
        justify-content: center;
    }

    #coinContainer {
        left: 30%;
    }

    #startContainer {
        flex-direction: column;
    }

    .card {
        width: 80px;
        height: 120px;
        padding: 2px;
    }

    .card-suit {
        bottom: 20%;
        left: 25%;
        font-size: 50px;
    }

    .card-name-suit {
        font-size: 20px;
    }

    @keyframes win-coins {
        0%   { left: 380px; top:305px;}
        100% { left: 328px; top:21px;}
    }
    
    .coin-animation-container {
        left: 600px;
    }
}